@import "@/assets/sass/common/global.scss";
@import "@/assets/sass/common/icon.scss";
.staproject {
    .project-main {
        padding: 16px;
        .main-box {
            background-color: #fff;
            .box-main {
                .box-top {
                    .title {
                        padding: 22px;
                        text-align: left;
                        font-size: 18px;
                        height: 18px;
                        line-height: 18px;
                    }
                }
                .box-body {
                    .body-content {
                        .top-search {
                            line-height: 32px;
                            padding: 10px;
                            margin-top: 15px;
                            .search-tool {
                                .search-input {
                                    float: left;
                                    position: relative;
                                    width: 200px;
                                    background-color: #ffffff;
                                    border-radius: 2px;
                                }
                                .refresh {
                                    margin-left: 10px;
                                    height: 32px;
                                    line-height: 32px;
                                    border: 1px solid #ccc;
                                    box-sizing: border-box;
                                    border-radius: 2px;
                                    cursor: pointer;
                                }
                                .searchbtn {
                                    position: absolute;
                                    top: 0;
                                    right: 5px;
                                    margin-left: 10px;
                                    height: 32px;
                                    line-height: 32px;
                                    box-sizing: border-box;
                                    border-radius: 2px;
                                    cursor: pointer;
                                }
                            }
                            .tools {
                                .add-report {
                                    width: 96px;
                                    height: 32px;
                                    line-height: 32px;
                                    background-color: #ffffff;
                                    border-radius: 2px;
                                    border: solid 1px #dddddd;
                                    cursor: pointer;
                                    box-sizing: border-box;
                                    span {
                                        float: left;
                                        line-height: inherit;
                                        font-size: 13px;
                                    }
                                    .addtext {
                                        display: inline-block;
                                    }
                                }
                            }
                        }
                        .content-container {
                            .data-content {
                                padding: 0 10px;
                                .table-title-list {
                                    table {
                                        table-layout: fixed;
                                        border-collapse: collapse;
                                        width: 100%;
                                        border-spacing: 0;
                                        th {
                                            background-color: #ececec;
                                            height: 40px;
                                            line-height: 20px;
                                            font-family: MicrosoftYaHei;
                                            font-size: 13px;
                                            font-weight: 400;
                                            font-stretch: normal;
                                            letter-spacing: 0;
                                            color: #333;
                                            text-align: left;
                                            padding-left: 8px;
                                            &:not(:last-child) {
                                                border-right: 1px solid #fff;
                                            }
                                        }
                                    }
                                }
                                .data-body {
                                    .data-main {
                                        overflow: auto;
                                        table {
                                            table-layout: fixed;
                                            border-collapse: collapse;
                                            width: 100%;
                                            border-spacing: 0;
                                            tr {
                                                display: block;
                                                line-height: 50px;
                                                text-align: left;
                                                td {
                                                    padding-left: 10px;
                                                }
                                            }
                                        }
                                        table.row-expand-table {
                                            table-layout: fixed;
                                            border-collapse: collapse;
                                            width: 100%;
                                            border-spacing: 0;
                                            tbody {
                                                tr {
                                                    width: 100%;
                                                    display: flex;
                                                    line-height: 40px;
                                                    border-bottom: 1px solid #fafafa;
                                                    td {
                                                        padding: 0;
                                                        padding-left: 8px;
                                                    }
                                                    td:nth-of-type(even) {
                                                        flex: 1;
                                                    }
                                                    td:nth-of-type(odd) {
                                                        width: 120px;
                                                        font-size: 14px;
                                                        font-weight: 400;
                                                        background: #fafafa;
                                                    }
                                                    &:first-child {
                                                        border-top: 1px solid #fafafa;
                                                    }
                                                }
                                            }
                                        }
                                        table {
                                            .operate-container {
                                                .opt-item {
                                                    float: left;
                                                    width: 32px;
                                                    height: 32px;
                                                    margin-right: 5px;
                                                    cursor: pointer;
                                                    &:hover {
                                                        background: #ccc;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    .box-footer {
                                        height: 30px;
                                        line-height: 30px;
                                        padding: 10px 0;
                                        background: #fff;
                                        .box-pagination {}
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .dialog-container {
        .dialog-body {
            .dialog-content {
                padding: 0 20px;
                .list-item {
                    margin-bottom: 15px;
                    &:after {
                        display: block;
                        content: "";
                        clear: both;
                        height: 0;
                        visibility: hidden;
                    }
                    .report-item {
                        float: left;
                        width: 45%;
                        margin-right: 5%;
                        text-align: left;
                        .name {
                            height: 20px;
                            line-height: 20px;
                            color: #888;
                            font-size: 12px;
                        }
                        .value {
                            padding: 10px 0;
                            .value-item {
                                float: left;
                                width: 45%;
                                margin-right: 10px;
                            }
                        }
                    }
                    .item-row {
                        width: 100%;
                        margin: 0;
                    }
                }
                .list-item.schedule {
                    .schedule-comp {
                        .cron-result {
                            margin: 20px 0;
                            .result-item {
                                float: left;
                                margin-right: 20px;
                                .title {
                                    float: left;
                                    margin-right: 5px;
                                }
                                .content {
                                    float: left;
                                    width: 80px;
                                }
                            }
                            &:after {
                                display: block;
                                content: "";
                                clear: both;
                                height: 0;
                                visibility: hidden;
                            }
                        }
                        .cron {
                            width: 100%;
                            min-width: 300px;
                            .card-box {
                                .item {
                                    margin-bottom: 10px;
                                    .el-input {
                                        width: 100px;
                                    }
                                    .el-checkbox-group {
                                        .el-checkbox {
                                            margin: 0;
                                            margin-right: 20px;
                                            height: 30px;
                                            line-height: 30px;
                                            width: 50px;
                                        }
                                    }
                                    .many {
                                        margin-left: 20px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}