@import "@/assets/sass/common/global.scss";
.index-container {
    height: 100%;
    .leftbox {
        height: 100%;
        width: 180px;
    }
    .rightbox {
        height: 100%;
        overflow: auto;
        .main {
            background-color: #ecedef;
        }
    }
}