.icon-add {
    width: 32px;
    height: 32px;
    display: inline-block;
    background: url("/static/images/icon/icon_add.png") center center no-repeat;
}

.icon-delete {
    width: 32px;
    height: 32px;
    display: inline-block;
    background: url("/static/images/icon/icon_delete.png") center center no-repeat;
}

.icon-download {
    width: 32px;
    height: 32px;
    display: inline-block;
    background: url("/static/images/icon/icon_download.png") center center no-repeat;
}

.icon-edit {
    width: 32px;
    height: 32px;
    display: inline-block;
    background: url("/static/images/icon/icon_edit.png") center center no-repeat;
}

.icon-logout {
    width: 32px;
    height: 32px;
    display: inline-block;
    background: url("/static/images/icon/icon_logout.png") center center no-repeat;
}

.icon-refresh {
    width: 32px;
    height: 32px;
    display: inline-block;
    background: url("/static/images/icon/icon_refresh.png") center center no-repeat;
}

.icon-report {
    width: 32px;
    height: 32px;
    display: inline-block;
    background: url("/static/images/icon/icon_report.png") center center no-repeat;
}

.icon-search {
    width: 32px;
    height: 32px;
    display: inline-block;
    background: url("/static/images/icon/icon_search.png") center center no-repeat;
}

.icon-staproject-active {
    width: 32px;
    height: 32px;
    display: inline-block;
    background: url("/static/images/icon/icon_staproject_active.png") center center no-repeat;
}

.icon-staproject-default {
    width: 32px;
    height: 32px;
    display: inline-block;
    background: url("/static/images/icon/icon_staproject_default.png") center center no-repeat;
}

.icon-staresult-default {
    width: 32px;
    height: 32px;
    display: inline-block;
    background: url("/static/images/icon/icon_staresult_default.png") center center no-repeat;
}

.icon-staresult-active {
    width: 32px;
    height: 32px;
    display: inline-block;
    background: url("/static/images/icon/icon_staresult_active.png") center center no-repeat;
}

.icon-torun {
    width: 32px;
    height: 32px;
    display: inline-block;
    background: url("/static/images/icon/icon_torun.png") center center no-repeat;
}

.icon-version {
    width: 32px;
    height: 32px;
    display: inline-block;
    background: url("/static/images/icon/icon_version.png") center center no-repeat;
}

.icon-avatar {
    width: 32px;
    height: 32px;
    display: inline-block;
    background: url("/static/images/icon/icon_avatar.png") center center no-repeat;
}